@media screen and (max-widht:495px) {
    header .container {
        display: flex;
        flex-direction: column;
    }
    .botao {
        margin-top: 5px;
        margin-bottom: 2px;
        width: 190px;
        height: 60px
    }
}

@media screen and (min-widht:1000px) {
    .descricao {
        width: 50%;
    }
}